{# index.twig #}
{% extends '../layout.twig' %}

{% set meta= {
"description": "",
"tags" :""
}
%}

{% set pageName = "Dolor de espalda | Byebye Dolor" %}
{% set shareLink = "https://byebyedolor.com/dolor-de-espalda/" %}

{% set intro = {
"title": "Dolor de espalda",
"subtitle": "Entendiendo el padecimiento que representa más de 264 millones de días de trabajo perdidos en un año."
}
%}

{% set resumen = "El dolor de espalda puede ocurrir a cualquier edad, pero generalmente se presenta en personas que realizan trabajo físico intenso y en ancianos."
%}

{% block definition %}
<p>El dolor de espalda es una de las quejas de salud más comunes. Puede provocar malestar leve, agudo (repentino y severo) o crónico si dura más de tres meses. Puede ocurrir a cualquier edad, pero generalmente se presenta en personas que realizan trabajo físico intenso y en ancianos. En general se debe a un problema en alguna parte de la espalda, ya sea en los: ligamentos, músculos, nervios, o vértebras. Dependiendo de su causa, el dolor de espalda por lo general se clasifica como dolor de espalda mecánico y/o dolor de espalda inflamatorio. La buena noticia es que en la mayoría de los casos el dolor de espalda se quita en pocas semanas y rara vez se debe a algo más grave. La mala noticia es que para algunos podría ser un problema persistente y que les afectará durante toda su vida.</p>
{% endblock %}

{% set facts = "El dolor de espalda tiene distintas causas. Desde malformaciones, lesiones y desgastes de la estructura de la columna vertebral, hasta movimientos forzados o el mal funcionamiento de la musculatura de la espalda, así como infecciones, enfermedades renales o digestivas, enfermedades reumáticas, disfunción del sistema nervioso y, en algunos casos se debe a tumores."
%}

{% set reasons = {
"title": "Estas son las razones por las que tenemos dolor de espalda",
"imgAlt": "Razones del dolor de espalda | Byebye Dolor"
}
%}

{% block reasons %}
<p>Para entender mejor el dolor de espalda, es necesario entender la estructura de su espalda. La misma comprende muchas partes, incluyendo:</p>
<ul>
<li>Los huesos de la columna vertebral, donde se incluyen las vértebras lumbares y sacras<br />Los discos de tejido, que sirven como amortiguador entre cada vértebra<br />Los nervios, vasos sanguíneos y médula espinal<br />Los ligamentos y músculos</li>
</ul>
<p>Las causas del dolor en la espalda baja (también llamada lumbalgia o dolor lumbar), media o alta por lo general se asocian a movimientos forzados, incómodos o violentos de la columna, además de algunas enfermedades y otros traumatismos en su estructura. Las causas más comunes incluyen:</p>
<ul>
<li>Presión o movimientos forzados o incómodos de la columna<br />Tensión muscular al levantar o cargar cosas pesadas o alcanzar objetos en un estante alto<br />Postura deficiente, especialmente por el uso de una computadora durante mucho tiempo<br />Una caída, accidente de coche u otra lesión grave<br />Permanecer sentado, de pie o en una misma posición durante mucho tiempo<br />Obesidad<br />Fracturas, esguince o distensión muscular<br />Remar<br />Cargar una mochila pesada, especialmente sobre un sólo hombro<br />Tos o estornudo muy fuerte<br />Escoliosis, significa que la columna vertebral se curva de lado a lado en lugar de correr hacia abajo por la espalda<br />Hernia de disco<br />Osteoartritis<br />Envejecimiento<br />Lesiones en los ligamentos o músculos que se adhieren a las vértebras</li>
</ul>
<p>Existen otras causas menos frecuentes que también pueden asociarse con dolor de espalda como infecciones, enfermedades renales o digestivas, polimialgia reumática y, excepcionalmente, tumores. Su médico puede ayudar a diagnosticar y tratarlo adecuadamente.</p>
{% endblock %}

{% set symptoms = {
"title": "SÍNTOMAS</br>El dolor de espalda puede tener muchos síntomas, incluyendo:",
"subtitle": "“Los síntomas del dolor de espalda, si se deben a tensión o mal uso, suelen ser de corta duración pero pueden durar días o semanas. El dolor de espalda es crónico cuando los síntomas han estado presentes por más de tres meses.”",
"img": {
"alt": "Algunos de los síntomas del dolor de espalda.",
"caption": "Algunos de los síntomas del dolor de espalda."
}
}
%}

{% block symptoms %}
<p>El dolor de espalda puede tener muchos síntomas, incluyendo:</p>
<ul>
<li>Dolores musculares</li>
<li>Rigidez muscular</li>
<li>Sensación de dolor sordo o constante</li>
<li>Sensación de ardor</li>
<li>Dolor agudo o punzante que puede irradiarse de la pierna al pie</li>
<li>Incapacidad para pararse derecho sin dolor</li>
<li>Disminución del rango de movimiento y una capacidad reducida para flexionar la espalda</li>
</ul>
<p><br />Otros síntomas más graves podrían incluir:</p>
<ul>
<li>Dolor severo o persistente</li>
<li>Dolor de pecho</li>
<li>Dolor bilateral en ambas piernas</li>
<li>Hormigueo o entumecimiento en la ingle, las piernas, los brazos o el pecho</li>
<li>Debilidad en las piernas o brazos</li>
<li>Pérdida de control del intestino o la vejiga</li>
<li>Sensación de ir al baño pero no poder hacer</li>
<li>Interfiere con el sueño y las actividades diarias</li>
<li>Patrón de marcha alterado</li>
<li>En algunos casos es por un problema en órganos cercanos, tal es el caso de los riñones</li>
</ul>
<p>Informe a su médico si tiene alguno de estos síntomas.</p>
{% endblock %}

<!-- clasification -->
{% set clasification = {
"title": "Clasificación del dolor de espalda",
"subtitle": "“Un paciente por lo general clasificará su dolor según el área de distribución, clasificándolos como: dolor de espalda baja (también llamado lumbalgia o dolor lumbar), dolor de espalda media y dolor de espalda alta. El tratamiento generalmente será diferente según el diagnóstico”"
}
%}

{% block clasification %}
<p>Además del área de distribución del dolor, la forma de describirlo así como cualquier otro síntoma relacionado serán importantes para determinar un diagnóstico certero en su tipo de dolor de espalda. Dependiendo de la causa, un médico generalmente clasificará el dolor en dos tipos: dolor de espalda mecánico y dolor de espalda inflamatorio.</p>
<p><strong>Dolor de espalda mecánico</strong> (también llamado axial). Es el tipo más común de dolor de espalda, generalmente es agudo (a corto plazo), provocado por una mala postura o malos hábitos al cargar. Estos malos hábitos ejercen una fuerte presión sobre las vértebras, los discos, los tendones y los ligamentos. A menudo, corregir este tipo de dolor de espalda es tan simple como corregir esos malos hábitos y usar aparatos ortopédicos o soportes correctivos. Sin embargo, si no se trata, el dolor de espalda mecánico puede conducir a enfermedades crónicas y más graves en el futuro. Este tipo de dolor incluye: distensiones y esguinces, lesiones, lesiones discales, enfermedad degenerativa del disco, estenosis espinal, osteoartritis y fracturas de huesos secundarias a la osteoporosis.</p>
<p><strong>Dolor de espalda inflamatorio</strong> (también conocido como dolor radiográfico). La inflamación es un tipo menos común de dolor de espalda y, a veces, difícil de diagnosticar. Surge de la inflamación en los tejidos blandos de la espalda y no de la columna vertebral en sí. Puede ser causado por enfermedades como la espondilitis anquilosante, un trastorno autoinmune que hace que el cuerpo ataque los tejidos sanos cerca de las articulaciones de la columna vertebral. Esta inflamación luego presiona los nervios circundantes, causando dolor en la espalda o a lo largo de la trayectoria nerviosa de los brazos y piernas. También lo pueden provocar la artritis psoriásica, la artritis enteropática, la polimialgia reumática y otras formas de artritis. Otros pueden experimentar dolor de espalda porque el nervio ciático, que atraviesa las nalgas, está inflamado y causa dolor en la cadera y la espalda. Tener escoliosis también puede causar dolor de espalda. En esta condición, la columna vertebral se tuerce hacia un lado en lugar de correr hacia arriba en el centro de la espalda. Una pequeña cantidad de personas puede desarrollar infecciones o tumores en la columna vertebral.</p>
{% endblock %}

<!-- treatment -->
{% block care %}
<h3>Hay muchas formas para prevenir el dolor de espalda, entre estas podemos mencionar:</h3>
<p><strong>Cargue menos</strong>: Los maletines pesados, bolsas, maletas y carteras pueden agregar tensión innecesaria y tensión a su cuello y columna vertebral.</p>
<h5>“Trate de reducir lo que necesita llevar y use bolsas que distribuyan el peso de manera más uniforme, como una mochila. Si puede, use una bolsa con ruedas para reducir la carga a su espalda por completo.”</h5>
<p><br /><strong>Fortalezca su núcleo</strong>: Los músculos en y alrededor de su abdomen y espalda lo ayudan a mantenerse erguido y brindan soporte a sus actividades físicas. Fortalecerlos también puede reducir las posibilidades de dolor, tensión o daño en la espalda. Agregue movimientos que fortalezcan su torso, espalda, hombros y estómago en su rutina regular de ejercicios. Algunos ejercicios para fortalecer su espalda y núcleo incluyen: natación, correr, caminar, yoga, pilates, ir al gimnasio.</p>
<p><strong>Mejore su postura</strong>: La mala postura puede ejercer una presión y una tensión innecesarias en la columna vertebral. Con el tiempo, esto puede provocar dolor y daño. Recuérdese con regularidad mantener sus hombros y espalda en una posición naturalmente cómoda y erguida.<br />Cambie de zapatos: Es probable que los zapatos altos causen daños en la espalda si los usa con frecuencia. Elige zapatos cómodos y de tacón bajo cuando pueda. Una pulgada es una sugerencia de altura máxima del talón.</p>
<p><strong>Estírese a menud</strong>o: Hacer lo mismo todos los días puede dejar sus músculos fatigados y más propensos a la tensión. Estírese regularmente para ayudar a mejorar la circulación en esos músculos y reducir el daño y riesgo de dolor de espalda</p>
{% endblock %}

{% set treatment = {
"img": {
"alt": "Las técnicas de relajación como: respiración profunda, yoga, o meditación suelen ser muy eficaces para el tratamiento del dolor de espalda.",
"caption": "Las técnicas de relajación como: respiración profunda, yoga, o meditación suelen ser muy eficaces para el tratamiento del dolor de espalda."
}
}
%}

{% block treatment %}
<h3>Tratamientos para aliviar un dolor de espalda de forma rápida y sencilla</h3>
<p>En la mayoría de los casos, el dolor de espalda se puede curar desde casa. Algunos remedios caseros incluyen:</p>
<ul>
<li>Descanso</li>
<li>Aplicando calor o hielo sobre el área adolorida</li>
<li>Haciendo ejercicios de estiramiento y fortalecimiento de espalda, hombros y estómago</li>
<li>Realizando terapia manual como masajes, movilización o manipulación espinal</li>
<li>Reducir el estrés con técnicas de respiración y relajación</li>
<li>Tomando algún relajante muscular de venta libre</li>
<li>Tomando pastillas para el dolor de espalda como Flanax</li>
</ul>
<p>La primera elección de medicamento para dolor de espalda para la mayoría de las personas es un medicamento antiinflamatorio no esteroideo (AINE) de venta libre, como Tabletas Flanax o Linimento Flanax. Las mismas la ayudarán a quitar el dolor de espalda de forma rápida y sencilla. Pero si su dolor de espalda dura más de 72 horas y los remedios caseros no alivian su dolor, consulte a su médico. Ellos podrán recomendar alguno de los siguientes tratamientos:</p>
<ul>
<li>Terapia física</li>
<li>Cuidado quiropráctico</li>
<li>Inyección de esteroides</li>
<li>La cirugía rara vez se usa para tratar el dolor de espalda.</li>
</ul>
{% endblock %}

{% set references = [
"https://medlineplus.gov/ency/article/000797.htm",
"https://www.mayoclinic.org/es-es/diseases-conditions/tension-headache/symptoms-causes/syc-20353977",
"https://www.webmd.com/migraines-headaches/guide/migraines-headaches-symptoms#1",
"https://www.medicalnewstoday.com/articles/73936.php",
"https://www.medicinenet.com/headache/symptoms.htm",
"https://headaches.org/",
"https://www.ichd-3.org/",
"https://www.health.harvard.edu/staying-healthy/causes-of-headaches",
"https://www.healthline.com/health/headache",
"https://www.who.int/news-room/fact-sheets/detail/headache-disorders",
"https://www.statista.com/topics/1974/headache-and-migraine/",
]
%}
