{# index.twig #}
{% extends '../layout.twig' %}

{% set meta = {
  description: 'Toda la información que necesitas saber para aliviar tu
  dolor muscular. Conoce las causas más comunes, así como su prevención y
  tratamiento.',
  tags: 'dolor muscular, garganta irritada, faringitis, medicamentos
  para el dolor de garganta, infección en la garganta síntomas, dolor de garganta, remedios caseros'
} %}
{% set canonicalURL = 'https://byebyedolor.com/dolor-muscular/index.html' %}
{% set ogImg = 'https://byebyedolor.com/dolor-muscular/imgs/intro-img@1x.jpg' %}
{% set shareLink = 'https://byebyedolor.com/dolor-muscular/' %}

{% set intro = {
  title: 'Dolor muscular',
  subtitle: 'El dolor muscular crónico afecta a entre el 11 y el 24% de la
población mundial.'
} %}

{% set resumen =
  'El dolor muscular crónico afecta a entre el 11 y el 24% de la
población mundial, y la mayoría de las personas experimentan dolor
musculoesquelético en algún momento de su vida.'
%}

{% block definition %}
  <p>
    Los dolores musculares, también conocidos como mialgia, son dolores que se
    pueden sentir en cualquier área del cuerpo que tenga músculos. Casi todos
    tenemos molestias o dolores musculares de vez en cuando. Los dolores
    musculares pueden ocurrir en adultos y niños. Dependiendo de la causa, el
    malestar puede ser leve o extremadamente severo. El dolor muscular puede
    afectar un área pequeña, o presentarse en todo el cuerpo, incluyendo: el
    cuello, la espalda, las piernas, el pecho, los brazos e incluso las manos.
    Aunque los dolores y molestias musculares en general no son motivo de
    preocupación y se resolverán sin tratamiento médico en poco tiempo, a veces
    el dolor muscular puede persistir durante meses o ser un síntoma de una
    enfermedad subyacente.
  </p>
{% endblock %}

{% set facts =
  'Las causas más comunes de dolor muscular son la tensión, el estrés, el uso excesivo y las lesiones menores. Este tipo de dolor generalmente se localiza y afecta sólo unos pocos músculos o una pequeña parte de su cuerpo.'
%}

{% set reasons = {
  title: 'Estas son las razones por las que tenemos dolor muscular',
  imgAlt: 'Razones del dolor muscular | Byebye Dolor'
} %}

{% block reasons %}
  <p>
    Las principales causas del <b>dolor muscular</b> incluyen:
  </p>
  <ul>
    <li>Traumatismo en un área del cuerpo</li>
    <li>Lesiones por esfuerzo repetitivo</li>
    <li>Tensión muscular en una o más áreas del cuerpo</li>
    <li>
      Uso excesivo del músculo durante el ejercicio o alguna actividad física
    </li>
    <li>
      Lesionarse el músculo mientras realiza un trabajo o ejercicio físicamente
      exigente
    </li>
    <li>
      Influenza (gripe) y otras enfermedades virales (enfermedades similares a
      la gripe)
    </li>
    <li>Calambres musculares</li>
    <li>Esguinces</li>
  </ul>
  <p>
    No todos los dolores musculares están relacionados con el estrés, la tensión
    y la actividad física. Algunas causas médicas para el dolor muscular o
    mialgia incluyen:
  </p>
  <ul>
    <li>Infecciones virales</li>
    <li>
      Trastornos autoinmunes como lupus, dermatomiositis y polimiositis
      enfermedad de Lyme
    </li>
    <li>
      Uso de ciertos medicamentos o drogas; especialmente los medicamentos para
      el colesterol conocidos como estatinas, inhibidores de la ECA o cocaína
    </li>
    <li>problemas de la tiroides, como hipotiroidismo o hipertiroidismo</li>
    <li>Síndrome de dolor miofascial</li>
    <li>Polimialgia reumática</li>
    <li>Polimiositis (enfermedad inflamatoria que causa debilidad muscular)</li>
    <li>Artritis reumatoide (enfermedad inflamatoria de las articulaciones)</li>
    <li>Fiebre manchada de las Montañas Rocosas</li>
    <li>
      El dolor muscular sistémico - dolor en todo el cuerpo - es a menudo el
      resultado de una infección, una enfermedad o un efecto secundario de un
      medicamento.
    </li>
  </ul>
{% endblock %}

{% set symptoms = {
  title: 'SÍNTOMAS</br> El dolor muscular puede tener muchos síntomas, incluyendo:',
  subtitle: '“Algunos de estos síntomas, como fiebre alta o dificultad para respirar, requerirán atención médica inmediata”',
  img: {
    alt: 'Algunas ocasiones el dolor muscular puede venir acompañado de otros síntomas como moretones.',
    caption: 'Algunas ocasiones el dolor muscular puede venir acompañado de otros síntomas como moretones.'
  }
} %}

{% block symptoms %}
  <p>
    Algunas personas con dolor muscular pueden notar, junto con el dolor y la
    incomodidad en sus músculos, los siguientes síntomas:
  </p>
  <ul>
    <li>Moretones</li>
    <li>Calambres</li>
    <li>Rigidez o debilidad en el área afectada</li>
    <li>Espasmos musculares</li>
    <li>Dolor que aumenta con el movimiento</li>
    <li>Hinchazón o inflamación</li>
    <li>Fiebre</li>
    <li>Erupciones cutáneas</li>
    <li>Marcas de mordidas</li>
    <li>Mareos</li>
    <li>Dificultad para respirar</li>
    <li>Signos de infección, como enrojecimiento e hinchazón</li>
  </ul>
  <p>
    Si la causa del dolor es una tensión, una lesión o estrés, las molestias se
    sentirán en un área en particular. Cuando ocurren dolores en todo el cuerpo,
    es más probable que esto se deba a una infección, medicamento o enfermedad
    subyacente.
  </p>
{% endblock %}

<!-- clasification -->
{% set clasification = {
  title: 'Clasificación del dolor muscular',
  subtitle: '“A menudo, un dolor muscular puede confundirse con un dolor musculoesquelético. El dolor musculoesquelético afecta los huesos, músculos, ligamentos, tendones y nervios. Puede ser agudo (de inicio rápido con síntomas graves) o crónico (de larga duración). El dolor musculoesquelético puede localizarse en un área o generalizarse.”'
} %}

{% block clasification %}
  <p>
    Algunos de los tipos más comunes de dolor musculoesquelético incluyen:
  </p>
  <ul class="expanded">
    <li>
      <strong>Dolor óseo</strong>: generalmente es profundo, penetrante o sordo.
      Suele ser el resultado de una lesión. Es importante asegurarse de que el
      dolor no esté relacionado con una fractura o tumor.
    </li>
    <li>
      <strong>Dolor muscular</strong>: a menudo es menos intenso que el dolor
      óseo, pero aún puede ser debilitante. El dolor muscular puede ser causado
      por una lesión, una reacción autoinmune, la pérdida del flujo sanguíneo al
      músculo, una infección o un tumor. El dolor también puede incluir espasmos
      musculares y calambres.
    </li>
    <li>
      <strong>Dolor de tendones y ligamentos</strong>: los dolores en los
      tendones o ligamentos a menudo son causados por lesiones, incluidos
      esguinces. Este tipo de dolor musculoesquelético a menudo empeora cuando
      el área afectada se estira o se mueve.
    </li>
    <li>
      <strong>Fibromialgia</strong>: esta es una condición que puede causar
      dolor en los músculos, tendones o ligamentos. El dolor generalmente se
      encuentra en múltiples lugares y puede ser difícil de describir. La
      fibromialgia generalmente se acompaña de otros síntomas.
    </li>
    <li>
      <strong>Dolor en las articulaciones</strong>: las lesiones y enfermedades
      en las articulaciones generalmente producen un dolor "artrítico" rígido,
      doloroso. El dolor puede variar de leve a intenso y empeora al mover la
      articulación. Las articulaciones también pueden hincharse. La inflamación
      articular (artritis) es una causa común de dolor.
    </li>
    <li>
      <strong>Síndromes de "túnel"</strong>: se refiere a trastornos
      musculoesqueléticos que causan dolor debido a la compresión nerviosa. Los
      trastornos incluyen el síndrome del túnel carpiano, el síndrome del túnel
      cubital y el síndrome del túnel tarsal. El dolor tiende a extenderse a lo
      largo del camino suministrado por el nervio y puede sentirse como ardor.
      Estos trastornos a menudo son causados por tensión excesiva.
    </li>
  </ul>
{% endblock %}

<!-- treatment -->
{% block care %}
  <h3>
    Hay muchas formas para prevenir el dolor muscular, entre estas podemos
    mencionar:
  </h3>
  <h6>
    “Durante su visita al médico, su médico de cabecera le hará ciertas
    preguntas sobre su dolor muscular, como la fecha de inicio del dolor, la
    ubicación y la gravedad del dolor, los medicamentos tomados y las
    actividades realizadas. Después de evaluar su historial físico y médico, el
    médico también puede sugerirle realizar un análisis de sangre (recuento
    sanguíneo completo) y pruebas de enzimas para identificar o descartar otras
    posibles causas”
  </h6>
  <p>
    Las personas pueden prevenir que se produzcan dolores musculares debido a la
    tensión, estrés y actividad física intensa haciendo lo siguiente:
  </p>
  <ul>
    <li>Cuide su peso</li>
    <li>Manténgase hidratado, especialmente en días de actividad física</li>
    <li>Realice ejercicios de forma regular para mejorar su tono muscular</li>
    <li>Consuma café 30 minutos antes de alguna actividad física vigorosa</li>
    <li>
      Realice ejercicios de calentamiento durante 5 minutos por lo menos,
      primero con movimientos de <br />baja intensidad que generen sudoración
      leve, luego estiramientos<br />Realice ejercicios de estiramiento al
      finalizar el ejercicio
    </li>
    <li>
      Si hace ejercicio en climas fríos y siente que está rígido y adolorido,
      use más ropa para <br />mantenerse caliente
    </li>
    <li>
      Prefiera usar dispositivos ergonómicos que permitan posiciones y
      movimientos naturales. Ej, teclados de computador, bicicletas, etc.
    </li>
  </ul>
{% endblock %}

{% set treatment = {
  img: {
    alt: 'Evite realizar actividades de alto impacto hasta después de que el dolor muscular desaparezca',
    caption: 'Evite realizar actividades de alto impacto hasta después de que el dolor muscular desaparezca'
  }
} %}

{% block treatment %}
  <h3>
    Tratamientos para aliviar un dolor muscular de forma rápida y sencilla
  </h3>
  <p>
    La mayoría de los dolores musculares son inofensivos y desaparecen a los
    pocos días. Algunas formas efectivas para tratarlos en el hogar incluyen:
  </p>
  <ul>
    <li>Descanse</li>
    <li>
      Realice actividades que facilitan la relajación y eliminan el estrés, como
      yoga y meditación
    </li>
    <li>
      Evite realizar actividades de alto impacto hasta después de que el dolor
      muscular desaparezca
    </li>
    <li>
      Colocar hielo indirecto, una bolsa de hielo envuelta en una toalla
      delgada, justo después de la actividad para reducir la inflamación. Luego
      usar calor más tarde para aumentar el flujo de sangre al área. El calor
      también ayudará a aliviar el dolor de articulaciones.
    </li>
    <li>
      Consuma jugo de cereza. El jugo de cereza contiene químicos
      anti-inflamatorios naturales que pueden reducir el dolor y la inflamación
    </li>
    <li>
      Tome pastillas o algún medicamento antiinflamatorio no esteroideo (AINE)
      como Flanax para ayudar a aliviar la incomodidad.
    </li>
    <li>
      A veces, aliviar los dolores musculares requiere más que una compresa de
      hielo o un medicamento de venta libre. Los dolores y molestias musculares
      intensos o que duran más de unos cuantos días pueden ser un síntoma de una
      afección subyacente que requiere evaluación y tratamiento médico.
    </li>
  </ul>
  <p>
    Una persona debe ver a un médico si:<br />Nota cualquier signo de infección,
    como enrojecimiento e hinchazón
  </p>
  <ul>
    <li>Tiene una picadura de garrapata</li>
    <li>Desarrolla algún tipo de erupción</li>
    <li>Considera que la medicación está causando el dolor muscular</li>
  </ul>
  <p>
    Es crucial buscar asistencia médica inmediata si el dolor muscular ocurre
    junto con:
  </p>
  <ul>
    <li>Dificultad para respirar</li>
    <li>Dificultad para tragar</li>
    <li>Sensación de mareo</li>
    <li>Rigidez en el cuello y fiebre alta</li>
    <li>Debilidad muscular</li>
    <li>Incapacidad para mover el área afectada</li>
    <li>Vómito</li>
    <li>Reducción en el volumen de orina o retención repentina de agua</li>
  </ul>
{% endblock %}

{% set references = [
  'https://medlineplus.gov/ency/article/000797.htm',
  'https://www.mayoclinic.org/es-es/diseases-conditions/tension-headache/symptoms-causes/syc-20353977',
  'https://www.webmd.com/migraines-headaches/guide/migraines-headaches-symptoms#1',
  'https://www.medicalnewstoday.com/articles/73936.php',
  'https://www.medicinenet.com/headache/symptoms.htm',
  'https://headaches.org/',
  'https://www.ichd-3.org/',
  'https://www.health.harvard.edu/staying-healthy/causes-of-headaches',
  'https://www.healthline.com/health/headache',
  'https://www.who.int/news-room/fact-sheets/detail/headache-disorders',
  'https://www.statista.com/topics/1974/headache-and-migraine/'
] %}
