{# index.twig #} {% extends '../layout.twig' %} {% set meta = { description:
'Conoce las causas del espolón calcáneo, fascitis plantar y otros dolores de
pies y de talón. ¡Mantente activo y recupera tu vida!', tags: 'dolor de pies,
espolon calcaneo, fascitis plantar, pastillas para el dolor de pies' } %} {% set
canonicalURL = 'https://byebyedolor.com/dolor-de-pie/index.html' %} {% set ogImg
= 'https://byebyedolor.com/dolor-de-pie/imgs/intro-img.jpg' %} {% set pageName =
'Dolor de pie | Byebye Dolor' %} {% set shareLink =
'https://byebyedolor.com/dolor-de-pie/' %} {% set intro = { title: 'Dolor de
pie', subtitle: 'El 40% de las personas dicen que serían más activos o se
ejercitarían si no fuera por el dolor de pies.' } %} {% set resumen = 'El dolor
generalmente ocurre debajo o justo detrás del talón, donde se conecta el tendón
de Aquiles con el hueso del talón.' %} {% block definition %}
<p>
  El dolor en el talón es uno de los tipos más comunes de
  <b>
    dolor en el pie
  </b>
  . El dolor generalmente ocurre debajo o justo detrás del talón, donde se
  conecta el tendón de Aquiles con el hueso del talón. A veces puede afectar el
  costado del talón. La fascitis plantar es la causa más común de dolor en el
  talón. Otras causas de dolor de pies incluyen: lesiones, uso excesivo o las
  afecciones que causan inflamación en cualquiera de los huesos, ligamentos o
  tendones del pie. Los síntomas incluyen un dolor agudo entre el arco y el
  talón. Por lo general se siente peor cuando comienza a caminar y mejor cuando
  descansa, además de tener dificultad al levantar los dedos del piso. El
  descanso, bolsas de hielo, calzado apropiado y otros soportes para los pies a
  menudo son suficientes para aliviar el dolor en la planta del pie.
</p>
{% endblock %} {% set facts = 'El dolor en los pies o talones no suele ser
causado por una lesión única, sea una torsión o caída, sino por un esfuerzo o
golpeteo repetitivo' %} {% set reasons = { title: 'Estas son las razones por las
que tenemos dolor de pie', imgAlt: 'Dolor de pie' } %} {% block reasons %}
<p>
  Las causas más comunes incluyen:
</p>
<ul>
  <li>
    <strong>Fascitis plantar</strong>, o inflamación de la fascia plantar.
  </li>
  <li>
    <strong>Espolón calcáneo</strong>: distensión excesiva del ligamento y
    músculos del pie. Generalmente puede ser tratado con pastillas
    antiinflamatorias como Flanax.
  </li>
  <li>
    <strong>Bursitis del talón</strong>: inflamación que ocurre en la bolsa o
    zona posterior del talón; un saco fibroso lleno de líquido.
  </li>
  <li>
    <strong>Golpes en el talón</strong>: o golpes en la bomba, son comunes en
    los adolescentes.
  </li>
  <li>
    <strong>Síndrome del túnel del tarso</strong>: un nervio grande en la región
    posterior del pie se pincha o queda atrapado (comprimido).
  </li>
  <li>
    <strong>Inflamación crónica de la almohadilla del talón</strong>: se origina
    porque la almohadilla del talón se adelgaza por dar pasos pesados.
  </li>
  <li>
    <strong>Fractura por estrés</strong>: Esto está relacionado con el estrés
    repetitivo, el ejercicio intenso, los deportes o el trabajo físico pesado.
  </li>
  <li>
    <strong>Enfermedad de Sever</strong> (también llamada epifisitis del
    calcáneo): esta es la causa más común de dolor en el talón en adolescentes
    atletas y niños. Es causada por el uso excesivo y microtrauma repetitivo de
    las placas de crecimiento en el hueso del talón.
  </li>
  <li>
    <strong>Tendinosis de Aquiles</strong>: Tendinitis o tendinopatía
    degenerativa, es una condición crónica que se asocia a la degeneración
    progresiva del tendón de Aquiles.
  </li>
</ul>
<p>
  Otras causas de dolor en el talón o planta del pie incluyen: Artritis,
  juanetes, problemas de circulación, exceso de peso, callos, pie plano, gota,
  uñas encarnadas, zapatos de talla inadecuada, problemas al pisar, usar
  sandalias o huaraches de forma regular así como el uso de zapatos desgastados.
</p>
{% endblock %}

<!-- symptoms -->
{% set symptoms = { title: 'SÍNTOMAS<br />El dolor de pie puede tener muchos
síntomas, incluyendo:', subtitle: '“En general, los síntomas del espolón
calcáneo pueden incluir dolor, hinchazón e inflamación en la sección delantera
del talón. El talón también se siente caliente al contacto. Por lo general los
síntomas se extienden al arco del pie.”', img: { alt: 'Sintomas del dolor de
pie', caption: 'Anatomía del pie' } } %} {% block symptoms %}
<p>
  Los síntomas del dolor en los pies son:
</p>
<ul>
  <li>Dolor de talón al despertar</li>
  <li>Dolor en la parte inferior del talón</li>
  <li>Dolor que suele empeorar conforme pasa el día</li>
  <li>Dolor que aumenta durante un período de tiempo</li>
  <li>Dolor en el arco del pie</li>
  <li>Hinchazón en la parte inferior del talón</li>
</ul>
<p>
  El diagnóstico comienza por un examen físico, en el mismo, el médico observará
  su postura y su andar. También le examinará la espalda, las piernas y los
  pies. Querrán saber algunos detalles sobre su dolor de pie, por ejemplo cuándo
  comenzó, qué partes del pie le duelen, cómo se siente o qué tan grave es el
  dolor. En caso de ser necesario, su médico podría requerir estudios de
  diagnóstico por imágenes, radiografías u otras modalidades de imagen.
</p>
{% endblock %}

<!-- clasification -->
{% set clasification = { title: 'Clasificación del dolor de pie', subtitle: '“El
dolor en el pie a menudo es causado por una mecánica incorrecta del pie. Los
zapatos mal ajustados pueden empeorar o en algunos casos provocar problemas en
los pies. Unos zapatos bien ajustados y que brinden buen soporte pueden prevenir
la tensión de las articulaciones de los pies y la piel. Los articulaciones de
los pies y la piel.”' } %} {% block clasification %}
<p>
  Existen más de 100 tipos diferentes de artritis y afecciones relacionadas, los
  principales incluyen:
</p>
<p>
  <strong>Artritis degenerativa</strong>: también conocida como osteoartritis
  (OA) o artrosis, es el tipo más común de artritis.
</p>
<p>
  <strong>Artritis inflamatoria</strong>: Afecta al sistema inmunológico,
  incluye artritis reumatoide (artritis autoinmune), artritis psoriásica y
  artritis reactiva.<br /><strong>Artritis infecciosa</strong>: también llamada
  artritis séptica, es causada por una infección de bacterias, virus o hongos en
  la articulación.
</p>
<p>
  <strong>Artritis metabólica</strong>: causada por la acumulación de ácido
  úrico que forma cristales similares a agujas en las articulaciones. Incluye
  gota (artritis gotosa).
</p>
<p>
  <b>Artritis juvenil</b>: también conocida como enfermedad reumática
  pediátrica, no es una enfermedad en sí misma, sino un término general que se
  usa para describir las muchas afecciones autoinmunes e inflamatorias o
  enfermedades reumáticas pediátricas que pueden desarrollarse en niños menores
  de 16 años.
</p>
{% endblock %}

<!-- treatment -->
{% block care %}
<h3>
  Algunas formas para prevenir el dolor de pies crónico son:
</h3>
<h6>
  “Aunque el dolor de pies es común, no es una parte normal de la vida. Debe
  buscar ayuda médica si tiene dolor en el pie que no se haya resuelto después
  de una o dos semanas de tratamiento en el hogar o si persiste cuando no está
  parado o caminando.”
</h6>
<p>
  Así mismo, usted debería consultar a un médico de manera urgente si
  experimenta:
</p>
<ul>
  <li>Dolor intenso con hinchazón cerca del talón</li>
  <li>Dolor, entumecimiento u hormigueo en el talón y fiebre</li>
  <li>Dolor en el talón y fiebre</li>
  <li>Dificultad para caminar normalmente</li>
  <li>
    Dificultad para doblar el pie hacia abajo o pararse de puntillas<br />También
    se recomiendan analgésicos Flanax para el dolor de pies.
  </li>
</ul>
{% endblock %} {% set treatment = { img: { alt: 'Tratamiento para el dolor de
pie', caption: 'Una de las maneras más sencillas de aliviar el dolor de pie es
con el uso de plantillas.' } } %} {% block treatment %}
<h3>
  Tratamientos para aliviar un dolor de pie
</h3>
<p>
  El tratamiento para el dolor de pie depende de la causa. Para algunas
  personas, algo tan simple como usar plantillas o inserciones de zapatos puede
  proporcionar un alivio. Otras personas podrían requerir de:
</p>
<ul class="extended">
  <li>
    <b>Aparatos ortopédicos</b>. Los dispositivos ortopédicos personalizados que
    se adaptan a sus zapatos ayudarán a corregir anomalías estructurales
    subyacentes que podrían causar la fascitis plantar.
  </li>
  <li>
    <b>Terapia de inyección</b>. Las inyecciones de corticosteroides se usan en
    algunos casos para aliviar el dolor y reducir la inflamación.
  </li>
  <li>
    <b>Bota desmontable</b>. Se utiliza un yeso o bota desmontable que le
    permita mantener el pie inmóvil, lo que le permitirá descansar y que se
    cure.
  </li>
  <li>
    <b>Férula nocturna</b>. Una férula nocturna le permitirá mantener la fascia
    plantar extendida mientras duerme. Esto ayudará a reducir el dolor matutino.
  </li>
  <li>
    <b>Terapia física</b>. El ejercicio y otras medidas de fisioterapia también
    proporcionarán alivio.
  </li>
</ul>
{% endblock %}

<!-- references -->
{% set references = [ 'https://medlineplus.gov/ency/article/000797.htm',
'https://www.mayoclinic.org/es-es/diseases-conditions/tension-headache/symptoms-causes/syc-20353977',
'https://www.webmd.com/migraines-headaches/guide/migraines-headaches-symptoms#1',
'https://www.medicalnewstoday.com/articles/73936.php',
'https://www.medicinenet.com/headache/symptoms.htm', 'https://headaches.org/',
'https://www.ichd-3.org/',
'https://www.health.harvard.edu/staying-healthy/causes-of-headaches',
'https://www.healthline.com/health/headache',
'https://www.who.int/news-room/fact-sheets/detail/headache-disorders',
'https://www.statista.com/topics/1974/headache-and-migraine/' ] %}
