{# index.twig #}
{% extends '../layout.twig' %}

{% block care %}
  <p>
    <strong>Cargue menos:</strong> Los maletines pesados, bolsas, maletas y carteras
    pueden agregar tensión innecesaria y tensión a su cuello y columna vertebral.
  </p>
  <h6>
    Trate de reducir lo que necesita llevar y use bolsas que distribuyan el peso
    de manera más uniforme, como una mochila. Si puede, use una bolsa con ruedas
    para reducir la carga a su espalda por completo.
  </h6>
  <p>
    <strong>Fortalezca su núcleo:</strong>Los músculos en y alrededor de su
    abdomen y espalda lo ayudan a mantenerse erguido y brindan soporte a sus
    actividades físicas. Fortalecerlos también puede reducir las posibilidades
    de dolor, tensión o daño en la espalda. Agregue movimientos que fortalezcan
    su torso, espalda, hombros y estómago en su rutina regular de ejercicios.
    Algunos ejercicios para fortalecer su espalda y núcleo incluyen: natación,
    correr, caminar, yoga, pilates, ir al gimnasio.
  </p>
  <p>
    <strong>Mejore su postura:</strong> La mala postura puede ejercer una presión
    y una tensión innecesarias en la columna vertebral. Con el tiempo, esto puede
    provocar dolor y daño. Recuérdese con regularidad mantener sus hombros y espalda
    en una posición naturalmente cómoda y erguida.<br />Cambie de zapatos: Es
    probable que los zapatos altos causen daños en la espalda si los usa con
    frecuencia. Elige zapatos cómodos y de tacón bajo cuando pueda. Una pulgada
    es una sugerencia de altura máxima del talón.
  </p>
  <p>
    <strong>Estírese a menudo:</strong> Hacer lo mismo todos los días puede dejar
    sus músculos fatigados y más propensos a la tensión. Estírese regularmente para
    ayudar a mejorar la circulación en esos músculos y reducir el daño y riesgo de
    dolor de espalda
  </p>
{% endblock %}

{% block treatment %}
  <p>
    La mayoría de los dolores musculares son inofensivos y desaparecen a los
    pocos días. Algunas formas efectivas para tratarlos en el hogar incluyen:
  </p>
  <ul>
    <li>Descanse</li>
    <li>
      Realice actividades que facilitan la relajación y eliminan el estrés, como
      yoga y meditación
    </li>
    <li>
      Evite realizar actividades de alto impacto hasta después de que el dolor
      muscular desaparezca
    </li>
    <li>
      Colocar hielo indirecto, una bolsa de hielo envuelta en una toalla
      delgada, justo después de la actividad para reducir la inflamación. Luego
      usar calor más tarde para aumentar el flujo de sangre al área. El calor
      también ayudará a aliviar el dolor de articulaciones.
    </li>
    <li>
      Consuma jugo de cereza. El jugo de cereza contiene químicos
      anti-inflamatorios naturales que pueden reducir el dolor y la inflamación
    </li>
    <li>
      Tome pastillas o algún medicamento antiinflamatorio no esteroideo (AINE)
      como Flanax para ayudar a aliviar la incomodidad.
    </li>
  </ul>
  <p>
    A veces, aliviar los dolores musculares requiere más que una compresa de
    hielo o un medicamento de venta libre. Los dolores y molestias musculares
    intensos o que duran más de unos cuantos días pueden ser un síntoma de una
    afección subyacente que requiere evaluación y tratamiento médico.
  </p>
  <p>
    Una persona debe ver a un médico si:
  </p>
  <ul>
    <li>Nota cualquier signo de infección, como enrojecimiento e hinchazón</li>
    <li>Tiene una picadura de garrapata</li>
    <li>Desarrolla algún tipo de erupción</li>
    • Considera que la medicación está causando el dolor muscular
  </ul>
  <p>
    Es crucial buscar asistencia médica inmediata si el dolor muscular ocurre
    junto con:
  </p>
  <ul>
    <li>Dificultad para respirar</li>
    <li>Dificultad para tragar</li>
    <li>Sensación de mareo</li>
    <li>Rigidez en el cuello y fiebre alta</li>
    <li>Debilidad muscular</li>
    <li>Incapacidad para mover el área afectada</li>
    <li>Vómito</li>
    <li>Reducción</li>
    <li>en el volumen de orina o retención repentina de agua</li>
  </ul>
{% endblock %}
