{# index.twig #}
{% extends '../layout.twig' %}

{% set meta = {
  description: '¿Los periodos te causan dolor? Los cólicos menstruales son una queja menstrual común entre las mujeres, no dejes que se apoderen de tu vida.',
  tags: 'Colicos, Dolor menstrual, cólicos menstruales, dolores menstruales, dolor de menstruacion, dolor de ovarios, dolor de vientre bajo sin menstruacion, sintomas menstruales, pastillas para el dolor menstrual, como quitar los colicos, dolor de vientre, pastilla para los cólicos, ...para dolores menstruales, dolores menstruales fuertes, como quitar el dolor menstrual, pastillas para la menstruación, cólicos, dolor menstrual, cólicos menstruales, sintomas menstruales  '
} %}
{% set canonicalURL = 'https://byebyedolor.com/colicos-menstruales/index.html' %}
{% set pageName = 'Cólicos menstruales | Byebye Dolor' %}
{% set shareLink = 'https://byebyedolor.com/colicos-menstruales/' %}
{% set ogImg =
  'https://byebyedolor.com/colicos-menstruales/imgs/intro-img@1x.jpg'
%}

{% set pageName = 'Cólicos menstruales | Byebye Dolor' %}
{% set shareLink = 'https://byebyedolor.com/colicos-menstruales/' %}

{% set intro = {
  title: 'Cólicos menstruales',
  subtitle: 'Más de la mitad de las mujeres que están menstruando experimentan cólicos durante su período'
} %}

{% set resumen =
  'La mujer promedio tendrá su primer período entre los 11 y 14 años. Los períodos continuarán regularmente (mensual) hasta la menopausia o alrededor de los 51 años.'
%}

{% block definition %}
  <p>
    Un cólico menstrual es un dolor en la parte inferior del abdomen y la pelvis. Pueden comenzar un par de días antes de que llegue su periodo y, a veces, continuar durante todo el período menstrual. Los dolores, calambres o cólicos menstruales suelen empeorar durante los primeros días de tu período, cuando tu flujo es más intenso. Hay mujeres más sensibles que los sufren de forma rutinaria. Muchas mujeres se ponen emocionales y tienen cólicos antes y durante sus períodos menstruales. A esto se le conoce como Síndrome Premenstrual (SPM). Los cólicos y el síndrome premenstrual pueden ser dolorosos e irritantes, pero son normales y hay muchas formas de tratarlos.
  </p>
{% endblock %}

{% set facts =
  'Los cólicos menstruales se producen cuando los músculos del útero se contraen, rompiendo el revestimiento del útero y expulsándolo del cuerpo en forma de flujo menstrual.'
%}

{% set reasons = {
  title: 'Estas son las razones por las que tenemos cólicos menstruales',
  imgAlt: 'Cólicos menstruales | Byebye Dolor'
} %}

{% block reasons %}
<p>Las <strong>prostaglandinas</strong>, sustancias similares a las hormonas e involucradas en el dolor y la inflamación, son las <strong>causantes de las contracciones del músculo uterino</strong>. Altos niveles de prostaglandinas pueden causar dolores menstruales muy fuertes.</p>
<p>Existen otras condiciones que pueden causar calambres o cólicos menstruales fuertes, estas incluyen:</p>
<ul>
<li><strong>Endometriosis</strong>: Revestimiento del útero que crece fuera del mismo.</li>
<li><strong>Fibromas</strong>: Crecimientos no cancerosos en la pared uterina.</li>
<li><strong>Adenomiosis</strong>: Revestimiento del útero que crece hacia la pared muscular uterina.</li>
<li><strong>Enfermedad inflamatoria pélvica (EIP)</strong>: Infección pélvica causada a menudo por infecciones de transmisión sexual (ITS).</li>
<li><strong>Estenosis cervical</strong>: Estrechamiento de la abertura del cuello uterino, provocando obstrucción en el flujo menstrual.</li>
</ul>
<p>Los cólicos menstruales que no son causados por alguna afección en particular tienden a disminuir con la edad y, a menudo, mejoran después del parto. Conocer la causa es clave para reducir el dolor.</p>
{% endblock %}

{% set symptoms = {
  title: 'SÍNTOMAS</br>Los cólicos menstruales pueden tener síntomas físicos y psicológicos:',
  subtitle: '“El período de cada mujer es diferente. Algunas mujeres sangran durante dos días, mientras que otras pueden sangrar durante una semana completa. Su flujo puede ser ligero y apenas perceptible, o suficientemente denso e incómodo. Puede no tener cólicos, tener cólicos leves o intensamente dolorosos. Los cólicos menstruales tienden a mejorar con la edad.”',
  img: {
    alt: 'Cólicos menstruales | Tipos de cólicos menstruales según los síntomas',
    caption: 'Algunas ocasiones el dolor muscular puede venir acompañado de otros síntomas como moretones.'
  }
} %}

{% block symptoms %}
  
<p>Tanto los cólicos menstruales como el SPM incluyen <strong>síntomas físicos y psicológicos</strong> muy variados que incluyen:</p>
  <ul>
  <li>Dolor en la parte baja del abdomen (a veces el dolor puede ser muy intenso)</li>
  <li>Sensación de presión en el abdomen</li>
  <li>Dolor en las caderas, espalda baja y muslos internos</li>
  <li>Dolor de piernas</li>
  <li>Dolor muscular y en articulaciones</li>
  <li>Nausea</li>
  <li>Vómito</li>
  <li>Mareos</li>
  <li>Diarrea</li>
  <li>Dolores de cabeza</li>
  <li>Hinchazón o inflamación de abdomen, manos o pies</li>
  <li>Fatiga o cansancio</li>
  <li>Desmayos (en casos extremos)</li>
  <li>Sudoración</li>
  <li>Sensibilidad, inflamación e irritación de senos</li>
  <li>Subir de peso</li>
  <li>Acné y problemas en la piel</li>
  <li>Sentimientos de tristeza, depresión o ansiedad</li>
  <li>Cambios de humor</li>
  <li>Irritabilidad</li>
  <li>Llanto</li>
  <li>Deseo de estar sola</li>
  <li>Problemas para concentrarse</li>
  <li>Problemas para dormir o mantenerse despierta</li>
  <li>Alteración en el libido</li>
  <li>Es normal tener algunos de estos síntomas y no todos. También es normal si los síntomas cambian mes a mes. Mientra el período sea consistente, no hay razón para preocuparse. En caso de que experimente algún <strong>cambio en su ciclo menstrual</strong> se recomienda consultar a su médico. Si siente que pierde el control, se siente deprimida, tiene ataques de pánico o incluso pensamientos suicidas, también es recomendable una visita al doctor.</li>
  </ul>
{% endblock %}

<!-- clasification -->
{% set clasification = {
  title: 'Clasificación del cólico menstrual',
  subtitle: '“El diagnóstico se realiza con una evaluación de los antecedentes médicos, así como una exploración física completa y tacto vaginal. Durante el tacto vaginal, su médico buscará anomalías en sus órganos reproductivos así como signos de infección.”'
} %}

{% block clasification %}
<p><strong>Dismenorrea</strong> es el término médico que se usa para definir los cólicos menstruales. Existen dos tipos:</p>
<ul>
<li><strong>Dismenorrea primaria</strong>: Se refiere a los cólicos comunes, definido también como el dolor menstrual normal (que no asociado con alguna patología pélvica macroscópica). Ocurre normalmente en los primeros años después de la menarquia (primera menstruación) y afecta hasta al 50% de las mujeres pospúberes.</li>
<li><strong>Dismenorrea secundaria</strong>: Se debe a un trastorno en los órganos reproductivos (asociado con alguna patología pélvica macroscópica). Se observa sobretodo en mujeres de 30 a 45 años.<br />Ambos tipos de cólicos pueden ser tratados.</li>
</ul>
<p>No es necesaria ninguna prueba específica para diagnosticar la dismenorrea primaria. Para el caso de la dismenorrea secundaria, se utilizan algunos estudios para diagnosticarla, éstos incluyen: pruebas de laboratorio, ultrasonografía ginecológica transvaginal, resonancia magnética de pelvis, histeroscopia o laparoscopia.</p>
{% endblock %}

<!-- treatment -->
{% block care %}
  <h3>
    Hay muchas formas para prevenir los cólicos menstruales, entre estas podemos mencionar:  </h3>
  <h5>“Algunas mujeres tienen un mayor riesgo de padecer períodos menstruales muy dolorosos o fuertes”</h5>
  <p>Estos riesgos incluyen:</p>
<ul>
<li>Ser menor de 20 años</li>
<li>Tener antecedentes familiares de períodos dolorosos.</li>
<li>Fumar</li>
<li>Tener sangrado abundante en tus periodos</li>
<li>Tener periodos irregulares</li>
<li>Nunca haber tenido un bebé</li>
<li>Haber alcanzado la pubertad antes de los 11 años.</li>
<li>También se recomiendan analgésicos para cólicos fuertes como Flanax.</li>
</ul>
{% endblock %}

{% set treatment = {
  img: {
    alt: 'Dolor de cabeza | Practicar técnicas de relajación puede ser un remedio útil para aliviar los cólicos menstruales',
    caption: 'Practicar técnicas de relajación puede ser un remedio útil para aliviar los cólicos menstruales.'
  }
} %}

{% block treatment %}
  <h3>
    Tratamientos para aliviar un dolor menstrual de forma rápida y sencilla
  </h3>
  <p>Existen tratamientos hormonales y no hormonales para tratar los cólicos menstruales. Entre los <strong>tratamientos no hormonales y/o remedios caseros</strong> podemos mencionar:</p>
<ul>
<li>Aplicar calor en la barriga o la espalda baja</li>
<li>Ejercicio físico regular</li>
<li>Masajear tu abdomen</li>
<li>Tomar un baño caliente</li>
<li>Levantar las piernas o acostarse con las rodillas dobladas</li>
<li>Practicar técnicas de relajación, meditación o yoga</li>
<li>Comer comidas ligeras y nutritivas</li>
<li>Tomar vitamina B-6, vitamina B-1, vitamina E, ácidos grasos omega-3, calcio y magnesio</li>
<li>Reducir la ingesta de sal, alcohol, cafeína y azúcar para prevenir la hinchazón</li>
<li>Acupuntura</li>
<li>Tomar medicamentos de venta libre como <a href="https://www.flanaxusa.com/productos-tabletas-analgesicas.html">Flanax</a></li>
</ul>
<p>Los tratamientos hormonales incluyen tomar <strong>pastillas anticonceptivas que contengan estrógeno y progesterona</strong>. El uso de un dispositivo intrauterino (DIU) que libera pequeñas dosis de progesterona directo en la cavidad uterina puede reducir hasta en un 50% los cólicos menstruales. Por otro lado, el uso de un DIU no hormonal, como los de cobre, puede aumentar los cólicos.</p>
<p>La cirugía puede ser necesaria en algunos casos de dismenorrea secundaria incluyendo endometriosis, fibromas.</p>
{% endblock %}

{% block treatment2 %}
  <p>
    Algunas terapias alternativas incluyen:
  </p>
  <p>
    Acupuntura, terapia de comportamiento cognitivo-conductual, herbolaria y/o
    productos nutricionales, hipnosis, meditación y entrenamiento de
    biorregulación.
  </p>
  <p>
    Los dolores de cabeza por migraña pueden ser más complicados de tratar que
    los dolores de cabeza por tensión. Para la migraña, se recomienda <a target="_blank"
      href="https://www.flanaxusa.com/productos-tabletas-analgesicas.html">
      Flanax
    </a>.
  </p>
{% endblock %}

{% set references = [
  "https://medlineplus.gov/ency/article/000797.htm",
"https://www.mayoclinic.org/es-es/diseases-conditions/tension-headache/symptoms-causes/syc-20353977",
"https://www.webmd.com/migraines-headaches/guide/migraines-headaches-symptoms#1",
"https://www.medicalnewstoday.com/articles/73936.php",
"https://www.medicinenet.com/headache/symptoms.htm",
"https://headaches.org/",
"https://www.ichd-3.org/",
"https://www.health.harvard.edu/staying-healthy/causes-of-headaches",
"https://www.healthline.com/health/headache",
"https://www.who.int/news-room/fact-sheets/detail/headache-disorders",
"https://www.statista.com/topics/1974/headache-and-migraine/"
] %}
