{# index.twig #}
{% extends '../layout.twig' %}

{% set pageName = "Artritis | Byebye Dolor" %}
{% set shareLink = "https://byebyedolor.com/artritis/" %}

{% set intro = {
"title": "Artritis",
"subtitle": "El padecimiento que es la segunda causa de morbilidad en personas
mayores de 60 años de edad en México."
}
%}

{% set resumen = "Los síntomas de la osteoartritis (OA) normalmente comienzan
después de los 40 años, pero pueden afectar a personas más jóvenes después de
una lesión traumática."
%}

{% block definition %}
<p>La palabra “artritis” significa literalmente inflamación de las
  articulaciones, y es un término informal para referirse al dolor, inflamación
  o rigidez de alguna articulación. Existen más de 100 tipos de artritis y
  enfermedades asociadas, y es una de las molestias más comunes en personas de
  todas las edades, sexos y razas. Sus principales causas son una infección, un
  golpe o un desorden inmunológico. No existe una cura para la artritis, pero
  sus tratamientos incluyen medicamentos, fisioterapia y cirugía.</p>
{% endblock %}

{% set facts = "La osteoartritis (OA) es más probable que afecte a las mujeres
que a los hombres después de los 50 años." %}

{% set clasification = {
"title": "Clasificación del artritis",
"subtitle": "“No siempre se puede prevenir la artritis. Algunas causas, como el
aumento de la edad, los antecedentes familiares y el género (muchos tipos de
artritis son más comunes en las mujeres), están fuera de su control.”"
}
%}

{% block symptoms %}
<p>La artritis puede comenzar de muchas maneras y puede ser difícil de
  reconocer. Puede aparecer lentamente y ser leve, o puede comenzar
  repentinamente y causar un dolor intenso que aumenta en unas pocas horas. Los
  signos y síntomas pueden ir y venir con el tiempo.</p>
<p>Entre sus principales
  síntomas se encuentran el <b>dolor, rigidez o inflamación de las
    articulaciones</b>. Puede incluir molestias en <b>rodillas, codos, muñecas,
    tobillos</b>, etcétera, en forma de pinchazos, dolor agudo, rigidez e
  inflamación. También puede causar problemas de salud que parecen no estar
  relacionados, como sueño, fatiga o sarpullido. Los primeros signos de artritis
  pueden confundirse con una lesión o el resultado de una actividad 'excesiva'.</p><p>Por
  supuesto, no todos los dolores o dolores en las articulaciones requieren
  tratamiento médico, pero hay ciertos signos y síntomas que podrían indicar
  algo más grave de lo esperado.</p>
{% endblock %}







{% block reasons %}
<p>Es causado por la inflamación, descomposición y la posible pérdida de
  cartílago en las articulaciones. Puede ser desde una ligera molestia en alguna
  articulación o tan severo llegando a limitar la funcionalidad de las personas,
  y consecuencias emocionales como la frustración y depresión.</p>
<p> El dolor articular puede presentarse en una o más articulaciones y ser
  provocado por
  una afección como resultado del desgaste de las articulaciones, pero también
  por sobrepeso, exceso de ejercicio, golpes, una mala postura, una infección en
  el hueso, o alguna enfermedad inmunológica o metabólica de base. </p>
<p>Otras causas del dolor en articulaciones incluyen:</p>
<ul>
  <li>Bursitis</li>
  <li>Lupus</li>
  <li>Gota</li>
  <li> Condromalacia de la rótula, o una ruptura del cartílago en la rótula</li>
  <li>Tendonitis o inflamación del tendón</li>
  <li>Cáncer</li>
  <li>Fibromialgia</li>
  <li>Osteoporosis</li>
  <li>Sarcoidosis</li>
  <li>Raquitismo</li>
</ul>
{% endblock %}

{% block care %}
<h3>
  Hábitos saludables que puede practicar para reducir el riesgo de desarrollar
  dolor articular a medida que envejece:
</h3>
<h6>“Muchas de estas prácticas, como hacer ejercicio y comer una dieta
  saludable, también pueden prevenir otras enfermedades además de la artritis.”</h6>
<p> Entre dichas prácticas podemos mencionar:
</p>
<ul>
  <li>Comer pescado</li>
  <li>Controlar su peso</li>
  <li>Hacer ejercicio</li>
  <li>Evitar lesiones</li>
  <li>Proteger sus articulaciones</li>
  <li>Consultar a un doctor</li>
</ul>
{% endblock %}

{% block clasification %}
<p>Existen más de 100 tipos diferentes de artritis y afecciones relacionadas,
  los principales incluyen:</p>
<p><strong>Artritis degenerativa</strong>:
  también conocida como osteoartritis (OA) o artrosis, es el tipo más común de
  artritis.</p>
<p><strong>Artritis inflamatoria</strong>: Afecta al sistema
  inmunológico, incluye artritis reumatoide (artritis autoinmune), artritis
  psoriásica y artritis reactiva.<br /><strong>Artritis infecciosa</strong>:
  también llamada artritis séptica, es causada por una infección de bacterias,
  virus o hongos en la articulación.</p>
<p><strong>Artritis metabólica</strong>:
  causada por la acumulación de ácido úrico que forma cristales similares a
  agujas en las articulaciones. Incluye gota (artritis gotosa).</p>
<p><b>Artritis
    juvenil</b>: también conocida como enfermedad reumática pediátrica, no es
  una
  enfermedad en sí misma, sino un término general que se usa para describir las
  muchas afecciones autoinmunes e inflamatorias o enfermedades reumáticas
  pediátricas que pueden desarrollarse en niños menores de 16 años.</p>
{% endblock %}

{% block treatment %}
<h3>Tratamientos para aliviar un dolor de artritis</h3>
<p>Aunque no hay manera de revertir la artritis, existen numerosas opciones para
  ayudar a aliviar los síntomas, así como mantenerse móvil y activo. Las
  Tabletas Analgésicas Flanax y el Linimento Flanax son una combinación
  inteligente para controlar el dolor articular.</p>
<p>Aunque las medicinas no pueden revertir el daño, sí pueden ayudar a reducir
  el dolor.</p>
<p>¿Por qué tiene sentido usar Flanax para el dolor de la artritis:</p>
<ul>
  <li>Ha demostrado ser un tratamiento eficaz para el dolor de la artritis</li>
  <li>El efecto de las tabletas es más duradero que el de otros analgésicos
    contra el dolor; solamente son necesarias 2 tabletas diarias para aliviar el
    dolor durante todo el día</li>
  <li>El Linimento Flanax tiene 3 ingredientes que bloquean el dolor en tres
    diferentes niveles</li>
  <li>Las Tabletas Analgésicas Flanax y el Linimento Flanax utilizados
    conjuntamente alivian el dolor de la artritis todo el día para que pueda
    disfrutar de su vida sin dolor</li>
</ul>
<p>Otros tratamientos no invasivos incluyen fisioterapia, inyecciones y cambios
  en el estilo de vida, como el descanso, el ejercicio, terapia manual, y una
  dieta saludable. Sin embargo, si el dolor persiste puede requerir cirugía, por
  lo que se recomienda consultar a un reumatólogo, que es un médico que se
  especializa en artritis y en enfermedades afines.</p>
{% endblock %}

{% set references = [
"https://medlineplus.gov/ency/article/000797.htm",
"https://www.mayoclinic.org/es-es/diseases-conditions/tension-headache/symptoms-causes/syc-20353977",
"https://www.webmd.com/migraines-headaches/guide/migraines-headaches-symptoms#1",
"https://www.medicalnewstoday.com/articles/73936.php",
"https://www.medicinenet.com/headache/symptoms.htm",
"https://headaches.org/",
"https://www.ichd-3.org/",
"https://www.health.harvard.edu/staying-healthy/causes-of-headaches",
"https://www.healthline.com/health/headache",
"https://www.who.int/news-room/fact-sheets/detail/headache-disorders",
"https://www.statista.com/topics/1974/headache-and-migraine/",
]
%}
