html {
  font-size: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }
}

body {
  overflow-x: hidden;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

.img-fluid {
  width: 100%;
}

.full-section {
  width: 100vw;
  background-size: cover;
  background-position: center;
}

// buttons

.site-logo {
  margin: 20px;
}

.img-half-sice {
  background-color: $gray-300;
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 0px;
  background-size: cover;
  background-position: center center;
}

.figure {
  margin-top: $paragraph-margin-bottom;
}

.figure-caption {
  margin-top: 1em;
  font-weight: 600;
}

.container {
  @include media-breakpoint-down(sm) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
