// Color

$gray-100: #f6f6f6;
$gray-200: #eaeaea;
$gray-300: #d8d8d8;
$gray-400: #999999;
$gray-500: #7c7c7c;
$gray-700: #2b2b2b;

$black: #000;
$primary: #003a63;
$secondary: #fcd99d;
$primary-light: #e9eeef;

$font-family-sans-serif: "Source Sans Pro", sans-serif;
$body-color: $black;

$headings-color: $primary;
$headings-line-height: (32/26);
$headings-font-family: "DM Serif Display", serif;

$h1-font-size: (64em/20);
$h2-font-size: (48em/20);
$h3-font-size: (36em/20);
$h4-font-size: (32em/20);
$h5-font-size: (26em/20);
$h6-font-size: (20em/20);

$font-size-base: 1.25rem;
$font-size-lg: $font-size-base * 1.34;
$paragraph-margin-bottom: (30em/18);
$line-height-base: (28/20);
$headings-line-height: (30/18);
$font-weight-normal: 300;
$font-weight-bolder: 600;

$figure-caption-font-size: (14em/20);
$figure-caption-color: $black;

// Buttons
$btn-border-radius: 6px;
$btn-border-radius-lg: 0;
$btn-font-size-lg: 24px;
$btn-font-weight: 600;

$btn-font-size: (18em/20);
$btn-padding-y: 16px;
$btn-padding-x: 40px;
